body {
    background-color: black;
}

h1, p, footer {
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1c56d342;
    border-radius: 20px;
    margin: auto;
    max-width: 1200px;
    box-shadow:  0 0 35px navy;
}  

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 60%;
    border-radius: 21px;
}

h1, h2, p{
    text-align: center;
    font-weight: bold;
}

p{
    font-size: 1.2em;
}

h1, h2{
    color: white;
}

section{
    margin: 3%;
    background-color: #6c8ccf42;
    border-radius: 10px;
    box-shadow:  0 0 5px navy;
    transition: .4s;
}
section:hover{
    opacity: 80%;
}

footer{
    background-color: rgb(21, 46, 108);
    color: black;
    padding: .6em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    max-width: 1300px;
    border-radius: 20px;
    font-size: 22px;
}

@media only screen and (min-width: 35em){
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }   
}

@media only screen and (min-width: 65em){
    .cards{
        grid-template-columns: repeat(4, 1fr);       
    }
}