@media screen and (min-width: 70em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    header {
        font-size: 38px;
    }
    .section-header h3 {
        font-size: 36px;
    }
    .section-header a {
        font-size: 30px;
    }
    section p {
        font-size: 28px;
    }
    footer {
        font-size: 28px;
    }
}