body {
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
}

header,
footer {
	background-color: #b6b6b6;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: .75rem;
	border: 1px solid #f4f3f3;
	color: white;
}

header,
main,
footer {
	max-width: 90%;
	margin: 0 auto;

}

h1 {
	font-size: 17px;
    color: white;
	font-family: Cambria, 'Times New Roman', serif;
}
h2 {
	color: rgb(92, 89, 89);
    font-size: 15px;
	font-family: Cambria, 'Times New Roman', serif;
}

nav {
	background-color: rgb(92, 89, 89);
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px white;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 13px;
	background: linear-gradient(90deg, transparent, white, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.5s;
	cursor: pointer;
}

.active {
	color: lightcoral;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 14px;
}
main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
}
main article ul {
	margin: 1rem 0 0 1rem;
}
main picture {
	display: none;
	margin: 1rem;
}

footer p {
	padding: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-box img {
    border: 1px solid #ddd;
    border-radius: 80px;
    padding: 5px;
    width: 170px;
    height: auto;
	box-shadow: 0 0 30px rgb(92, 89, 89);
}