@media only screen and (min-width: 60em) {
    /***********************HOME PAGE**************************/
    h1{
        font-size: 23px;
    }

    h2 {
        font-size: 21px;
    }
  
    h3 {
        font-size: 20px;
    }
  
    p {
        font-size: 17px;
    }

    /***********************FRESH PAGE ******************************/
    /* ------------MAIN------------- */
    main.formpage {
        padding: 3rem 0 0 19rem;
        height: 1380px;
    }

    form input.radioBtn {
        padding: .4rem 0 ;
    }  

    /*********************ABOUT US PAGE******************************/

    #story {
        float: right;
    }
}