@media only screen and (min-width: 37.5em) {
    /***********************HOME PAGE**************************/
    h1{
        font-size: 21px;
    }
    
    h2 {
        font-size: 19px;
    }
      
    h3 {
        font-size: 17px;
    }
      
    p {
        font-size: 13px;
    }

   

    

    #drink-count{
        width:100vw;
    }
    
    #weather{
        width: 100vw;
    }
    
    #weath-img{
        width:100px;
        margin: 0 auto;
    }

}