@media only screen and (min-width: 37.5em) {
    /***********************HOME PAGE**************************/
    h1{
        font-size: 21px;
    }
    
    h2 {
        font-size: 19px;
    }
      
    h3 {
        font-size: 17px;
    }
      
    p {
        font-size: 13px;
    }

    #area-sum > h2{
        font-size: 2rem;
        text-decoration: none;
    }

    #area-sum > div{
        height: 98.5%;
        padding: 0;
        vertical-align: middle;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: 30px;
        font-size: 0.9rem;
    }

    

    #drink-count{
        width:100vw;
    }
    
    #weather{
        width: 100vw;
    }
    
    #weath-img{
        width:100px;
        margin: 0 auto;
    }

}