/****************HOME PAGE********************/

/*------MAIN------*/
.accentImg-bg-out {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}

h1, h2 {
  font-family: 'Barrio', cursive;
}

h3 {
  font-family: 'Gorditas', cursive;
}

p {
  font-family: 'Sulphur Point', sans-serif;
}

main{
    overflow-x: hidden;
}

.logo{
  width: 25px;
  height: auto;
}

.true-center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.row-center{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: center;
}

.bigger-h{
    font-size: 4rem;
}

.btn{
    background-color: #CA2750;
    padding: 1rem;
    border: #DCA320;
    color: white;
    margin: 10px;
    border-radius: 6px;
    font-family: var(--p-font);
  }

  .btn:hover{
    background-color: #DCA320 ;
    cursor: pointer;
    transition: 500ms;
  }

  .btn-primary{
    font-size: 1.5rem;
  }

  .drk-overlay{
    background-color: rgba(0,109,119,0.5);
    z-index: 2;
    position: absolute;
    width:100%;
    height: 100%;
  }
    

  @media screen and (max-width: 600px) {
    .true-center-sm{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      text-align: center;
    }

    #div-double{
      grid-template-areas: 
      "count"
      "weath";
    }
  }

/* ----------------- NAVIGATION ----------------- */
header{
    position: relative;
}
.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:not(:first-child){
    padding: 17.5px 25px;
  }

  .topnav a:hover {
    background-color: #97CE27;
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #97CE27;
    color: #CA2750;
  }

  .topnav a.inactive {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  #fresh:hover::after{
    content:" 🍓";
  }

  #about:hover::after{
    content:"🍓";
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  }


/*------- Area Summary ------*/

#area-sum{
    position: relative;
    text-align: center;
}

#area-sum > h2{
    position: absolute;
    font-size: 3rem;
    top: 5px;
    left: 50%;
    color: white;
    z-index: 3;
    padding: 7px;
    border-radius: 15px;
}

#area-sum > div{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    padding: 30px 70px;
    background-color: #ca2750a3;
    color:white;
}


  /*---------- Drink Count ----------*/
  #drink-count{
    grid-area:count;
    height: 80vh;
    background-color: #DCA320;
    color: white;
    width:50vw; 
  }

  /*---------- Weather -----------*/
#weather{
    grid-area:weath;
    height: 100vh;
    background-color: #4BC7DB ;
    width: 50vw;
    float: right;
    margin-bottom: 150px;
}

#weath-img{
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-bottom: -40px;
}

#temp{
    float: inline-end;
}

#weather > hr{
    width:50%;
    margin: 15px auto;
    color: #DCA320;
    border: 0;
    height: 0;
    border: none;
    box-shadow: 0 0 0px 1px white;
}

.forecast{
  padding:20px;
  margin: 10px;
  background-color: #DCA320;
  border-radius: 25px;
  font-weight: 800;

}

.forecast p{
  line-height:1rem;
}

.hi{
color: white;
}

.lo{
  color: black;
}

@media screen and (max-width: 600px) {
  #drink-count{
    width:100vw;
  }

  #weather{
    width: 100vw;
  }

  #weath-img{
    width:100px;
    margin: 0 auto;
  }
}

/*-----------Footer-----------*/

footer{
    height:20vh;
    color: black;
    padding: 30px;
}

footer i{
    color: #DCA320;
}

footer i:hover{
    color: #CA2750;
    transition: 500ms;
}

.social-links{
  font-size: 3rem;
  margin: 20px;
}

.social-links a{
  margin:10px;
}

.contact-foot{
  margin-bottom: 20px;
}


/***********************FRESH******************************/
.banner img {
  display: block;
  max-width: 100%;
}

/* -------------HEADINGS-------- */
.formheader h2 {
  align-items: center;
}


/* -------------MAIN------------ */

fieldset.container {
  display: grid;
  padding: 2rem;
  background-color: #ca2750a3;
  width: 70%;
}

fieldset.container2 {
  margin-bottom: 35px;
}

label, input {
  display: block;
}

form label.formfield {
  margin: 3px;
}

label.formfield input {
  padding: .75rem;
  margin-bottom: 20px;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  color: rgb(58, 58, 58);
  width: 100%;
  max-width: 20rem;
}

/* label.formfield input:required {
  border-left: red ;
}

label.formfield input:required:valid {
  border-left: green solid 6px;
}*/

label.formfield textarea {
  margin-bottom: 20px;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  color: rgb(58, 58, 58);
  padding: .75rem;
}

fieldset legend.radiotitle {
  padding: .5rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

form input.radioBtn {
  margin-bottom: .75rem;
  color: rgb(58, 58, 58);
}

div.submitBtn input {
  margin-top: 30px;
  background-color: #DCA320;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 1.5rem 0 0 2%;
  width: 96%;
  max-width: 20rem;
}

.divider {
  margin: auto;
  height: 2px;
  width: 100%;
  display: block;
  background-image: linear-gradient(to right, #DCA320, white, #DCA320);
}

.req {
  color: red; 
}

#output {
  grid-area: count;
  height: 40vh;
  background-color: #DCA320;
  color: white;
  width: 59vw; 
}

/******************** ABOUT US PAGE ***********************/

.grid-photos {
  display:grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 20px;
  place-items: center;
}

.hover:hover {
  box-shadow: 0 0 50px #97CE27;
}

#story {
  grid-area: count;
  height: 55vh;
  background-color: #DCA320;
  color: white;
  width: 39vw;
  border-radius: 15px; 
}

div.google-maps img {
  max-width: 250;
}

h3.slogan {
  font-size: 33px;
}


#location {
  grid-area: weath;
  height: 55vh;
  background-color: #97CE27 ;
  width: 59vw;
  padding: 2px;
  float: right;
  border-radius: 15px;
}


