/****************HOME PAGE********************/

/*------MAIN------*/
.accentImg-bg-out {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}



main{
    overflow-x: hidden;
}

.logo{
  width: 25px;
  height: auto;
}

.true-center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.row-center{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: center;
}

.bigger-h{
    font-size: 4rem;
}

.btn{
    background-color: #CA2750;
    padding: 1rem;
    border: #DCA320;
    color: white;
    margin: 10px;
    border-radius: 6px;
    font-family: var(--p-font);
  }

  .btn:hover{
    background-color: #DCA320 ;
    cursor: pointer;
    transition: 500ms;
  }

  .btn-primary{
    font-size: 1.5rem;
  }

  .drk-overlay{
    background-color: rgba(0,109,119,0.5);
    z-index: 2;
    position: absolute;
    width:100%;
    height: 100%;
  }

  .loaded {
    animation: fade-in 0.7s;
    animation-iteration-count: 1;

    }
    
    @keyframes fade-in {
        from {
            transform: scale(0.9);
            border-radius: 100%;
        }
        to {
            transform: scale(1);
            border-radius: none;
    
        }
    }

  @media screen and (max-width: 600px) {
    .true-center-sm{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      text-align: center;
    
    }

    #div-double{
      grid-template-areas: 
      "count"
      "weath";
    }
  }

/* ----------------- NAVIGATION ----------------- */
header{
    position: relative;
}
.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:not(:first-child){
    padding: 17.5px 25px;
  }

  .topnav a:hover {
    background-color: #97CE27;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #97CE27;
    color: #CA2750;
  }

  .topnav a.inactive {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  #fresh:hover::after{
    content:" 🍓";
  }

  #about:hover::after{
    content:"🍓";
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  }


/* ----------- Home Page ----------- */

/* Area Summary */

#area-sum{
    position: relative;
    text-align: center;
}

#area-sum > h2{
    position: absolute;
    font-size: 3rem;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    z-index: 3;
    padding: 7px;
    border-radius: 15px;
}

#area-sum > div{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    padding: 30px 70px;
    background-color: #ca2750a3;
    color:white;
}

@media screen and (max-width: 600px) {
    #area-sum > h2{
        font-size: 2rem;
        text-decoration: none;
    }

    #area-sum > div{
        height: 98.5%;
        padding: 0;
        vertical-align: middle;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: 30px;
        font-size: 0.9rem;
    }

  }


  /*---------- Drink Count ----------*/
  #drink-count{
    grid-area:count;
    height: 80vh;
    background-color: #DCA320;
    color: white;
    width:50vw; 
  }

  /*---------- Weather -----------*/
#weather{
    grid-area:weath;
    height: 80vh;
    background-color: #4BC7DB ;
    width: 50vw;
}

#weath-img{
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-bottom: -40px;
}

#temp{
    float: inline-end;
}

#weather > hr{
    width:50%;
    margin: 15px auto;
    color: #DCA320;
    border: 0;
    height: 0;
    border: none;
    box-shadow: 0 0 0px 1px white;
}

.forecast{
  padding:20px;
  margin: 10px;
  background-color: #DCA320;
  border-radius: 25px;
  font-weight: 800;

}

.forecast p{
  line-height:1rem;
}

.hi{
color: white;
}

.lo{
  color: black;
}

@media screen and (max-width: 600px) {
  #drink-count{
    width:100vw;
  }

  #weather{
    width: 100vw;
  }

  #weath-img{
    width:100px;
    margin: 0 auto;
  }
}

/*-----------Footer-----------*/

footer{
    height:20vh;
    color: black;
    padding: 30px;
}

footer i{
    color: #DCA320;
}

footer i:hover{
    color: #CA2750;
    transition: 500ms;
}

.social-links{
  font-size: 3rem;
  margin: 20px;
}

.social-links a{
  margin:10px;
}

.contact-foot{
  margin-bottom: 20px;
}


/******************** ABOUT US PAGE ***********************/
#history-txtbx{
  background-color: #006D77;
  color: white;
  padding: 50px;
}

#our-story h2{
  color: white;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#contact{
  background-color: var(--accent2);
  padding: 5%;
}

#contact-container{
  text-align: left;
}

@media screen and (max-width: 600px) {
  #gmap-container iframe{
    height: 300px;
    width: 300px;
  }

  #our-story > img, #our-story .drk-overlay {
    display: none;
  }

  #our-story h2{
    color: black;
    text-align: center;
    padding: 10px;
  }

  #contact-container{
    margin: 15px;
  }
}
