/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	
	/* -------------HEADER AND MAIN---------------*/
	body {
		position: relative;
	}
	
	.logo-title {
		margin-top: 130px;
		margin-left: -1090px;
	}

	.logo-box img {
		margin-bottom: 60px;
	}
	
	.chamber-name {
		margin-left: 30px;
		margin-top: -180px;
		line-height: 15px;
	}
	
	.social {
		text-align: center;
		display: block;
		margin-right: 15px;
		margin-top: -35px;
	}
	
	.social img {
		width: 50px;
		border-radius: 80px;
	}

	/* ---------------HEADINGS---------------- */
	h1 {
		font-size: 23px;
	}

    h2 {
        font-size: 21px;
    }

	h3 {
		font-size: 18px;
	}

	p {
        font-size: 17px;
    }

	/* -------------BANNER------------------ */
	div#message {
		line-height: 22px;
		margin-top: -155px;
	}


	/* -------------NAVIGATION-------------- */
	nav {
		margin-left: 700px;
		position: absolute;
	}
	
	nav ul { 
		max-width: 150px;
		list-style-type: none;
    }

	nav ul li a {
		display: block;
		color: white;
		text-align: center;
		padding: 0.75rem;
		text-decoration: none;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		font-size: 15px;
		margin-top: -70px;
		background: linear-gradient(90deg, transparent, white, transparent) bottom /
		var(--d, 0) 3px no-repeat;
		transition: 0.5s;
		z-index: 2;
	}

	.navigation {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	 
	
	#navList {
		grid-row: 1;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	nav button {
		display: none;
	}
	
	nav ul.hide {
		display: inline;
	}
	
	.item-navigation {
		border-bottom: none;
	}

	a:-webkit-any-link {
		color: white;
		background-color: transparent;
	}


	/* -------------HEADER AND MAIN---------------*/
	header {
		border-radius: 0 0 30px 30px;
	}

	main {
		grid-template-columns: 1fr;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: repeat(3, 1fr);
	}


	/* -------SECTIONS - HOME PAGE------- */
	.event {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.hero {
		grid-column: 2/3;
		grid-row: 1/3;
	} 

	.spotlights {
		grid-column: 3/4;
		grid-row: 1/4;
		flex-direction: column;
		line-height: 116px;
	}

	.spotlights section:last-child {
		display: block;
	}

	.weather {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.join {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	.news {
		grid-column: 2/3;
		grid-row: 3/4;
	}

	.degree img {
		float: left;
		margin-top: -35px;
	}

	.degree p.temperature {
		font-size: 34px;
	}


	/* -------------FOOTER-------------- */
	footer {
		border-radius: 30px 30px 0 0;
	}

	.logo-box img, .logo-footer img {
		width: 100px;
		height: auto;
		gap: 0.8rem;
		margin-left: 200px;
		margin-top: -115px;
	}

	.logo-footer img {
		width: 80px;
		margin-top: 20px;
	}

	.info {
		margin-left: 690px;
		margin-top: -90px;
		margin-bottom: 100px;
		position: relative;
	}

	.date {
		font-size: 12px;
		background-color: black;
		color: white;
	}
	
	footer p {
		padding: .5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: -100px;
		margin-bottom: -120px;
	}
	
	p#time {
		font-size: 12px;
		margin-left: -560px;
		margin-bottom: -83px;
	}
	
	span#lastMod {
		margin-left: 0px; 
		font-size: 12px;
		margin-bottom: 42px;
	}

	/***************************** DISCOVER PAGE ********************/

	/* ----------SECTIONS/ IMAGES--------- */
	picture img {
		width: 600px; 
	}

	picture img.map {
		width: 450px;
	}

	section.location, section.origin {
		width: 450px;
	}


	/******************************* JOIN PAGE *************************/

	/* ------------MAIN------------- */
	main.formpage {
		padding: 3rem 0 0 19rem;
		height: 1380px;
	}
	
	form input.radioBtn {
		padding: .4rem 0 ;
	}

	/* ------------THANK YOU PAGE------------ */
	.thanks {
		margin-left: 400px;
		margin-right: -620px;
		margin-top: 30px;
		line-height: 27px;
		margin-bottom: -50px;
	}


	/*************************** DIRECTORY PAGE *************************/

	/* -------------MAIN------------ */

	main.menuDirectory {
    	margin: 1rem auto;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0.5rem;
	}

	.imgDirectory {
    	max-width: 60%;
	}

	/*************************** CONTACTS PAGE *************************/

	/*-----------HEADINGS---------*/
	h1.contact-us {
		color: white;
		background-color: rgb(194, 194, 194);
		margin-top: -60px;
		margin-left: 25px;
		line-height: 20px;
		border-radius: 30px;
		width: 400px;
		padding: 20px;
		align-items: center;
		display: block;
		position: relative;
		height: 600px;
    	font-size: 35px;
	}

	div.contacts-page p {
		font-size: 26px;
		font-weight: bold;
		text-decoration: underline;
		text-align: center;
		margin-top: 110px;
		background-color: rgb(194, 194, 194);
		line-height: 50px;
	}


	div.contacts-page {
		width: 1330px;
	}

	#cards{
		width: 800px;
		margin: 0 auto;
	}

	#cards section {
		width: 800px;
		margin-top: 120px;
	}
 
}