/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	
	/* -------------HEADER AND MAIN---------------*/
	
	.logo-title {
		margin-top: 150px;
		margin-left: -560px;
	}
	
	.chamber-name {
		margin-left: 10px;
		margin-top: -70px;
		line-height: 14px;
	}

	.social {
		margin-right: 10px;
		margin-top: 0px;
	}
	
	.social img {
		width: 35px;
		border-radius: 80px;
	}

	main {
		grid-template-columns: 1fr;
        font-size: 17px;
		display: grid;
		gap: 1.6rem;
		grid-template-areas:
		  "hero  hero  hero  hero"
		  "news  news   news  news"
		  "spotlights  spotlights  spotlights spotlights"
		  "join    join    join     join"
		  "event event   event   weather";
	}

	/* ---------------HEADINGS---------------- */
	h1 {
		font-size: 21px;
	}

    h2 {
        font-size: 18px;
    }

	h3 {
		font-size: 16px;
	}

	/* -------------BANNER------------------ */
	div#message {
		width: 100%;
		line-height: 22px;
		margin-top: -155px;
	}

	/********************** Flex *********************/ 

	/* -------------NAVIGATION-------------- */
	nav ul {
		list-style-type: none;
		
	}
	
	nav ul li a {
		font-size: 14px;
		width: 80px;
	}
	
	nav button {
		background-color: #b6b6b6;
		margin: auto; 
	}
	
	nav ul li {
        flex: 1 1 auto;
    }

	nav a:hover {
		/* 	background-color: #bbb;
		color: #36454f; */
		--d: 75%;
	}


	/* -------SECTIONS - HOME PAGE------- */
	.hero {
		grid-area: hero;
	  }
	
	.event {
		grid-area: event;
	}
	
	.weather {
		grid-area: weather;
	}
	
	.news {
		grid-area: news;
	}
	
	.spotlights {
		grid-area: spotlights;
		display: flex;
		gap: 1.6rem;
	}
	
	.join {
		display: block;
		grid-area: join;
	}

	.degree p.temperature {
		font-size: 28px;
	}


	/* -------------FOOTER-------------- */

	.logo-box img, .logo-footer img {
		width: 110px;
		height: auto;
		margin-top: -115px;
	}

	.logo-footer {
		margin-left: 130px;
	}

	.logo-footer img {
		width: 80px;
		margin-top: 10px;
	}

	.canton {
		margin-left: 40px;
		font-size: 15px;
	}
	
	.chamber {
		margin-top: 40px;
		margin-left: -70px;
		font-size: 13px;
	}

	.info {
		margin-left: 240px;
		margin-bottom: 30px;
		font-size: 12px;
	}

	p#time {
		font-size: 11px;
		margin-left: -400px;
		margin-bottom: -135px;
	}
	
	span#lastMod {
		margin-left: -40px; 
		font-size: 11px;
		margin-top: 0px;
		margin-bottom: -50px;
	}

	/***************************** DISCOVER PAGE ********************/

	picture img {
		width: 400px; 
	}

	picture img.map {
		width: 300px;
	}

	section.location, section.origin {
		width: 300px;
	}


	/******************************* JOIN PAGE *************************/


	/*************************** DIRECTORY PAGE *************************/

	/* -------------MAIN------------ */

	.menuDirectory {
    	margin: 1rem auto;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0.5rem;
	}

	.menuDirectory button {
    	padding: 1rem;
	} 

	.imgDirectory {
    	max-width: 80%;
	}

	/**************************CONTACTS PAGE******************************/
	#cards{ 
		display: flex;
		margin: 3em;
	}
	#cards section{
		margin: 3em;
	}
	.close{
		right: 25px;
		top: 0;
	}
	
	.form-content .cancelbtn {
		width: auto;
	}
	.class{
		flex-direction: row;
		gap: 50px;
	}
	.label-flex{
		width: 100%;
	  }
	  #spotlight section{
		width: 100%;
	  }

}