/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 23px;
	}

    h2 {
        font-size: 18px;
    }

	/* Flex *********************/ 
	nav ul { 
        display: flex;
    }

	nav ul li {
        flex: 1 1 auto;
    }

	nav a {
		font-size: 15px;
	}

	nav a:hover {
		/* 	background-color: #bbb;
	color: #36454f; */
		--d: 75%;
	}

	main {
		grid-template-columns: 1fr;
        font-size: 17px;
	}
	
	footer p {
		flex-direction: row;
	}

	.chamber-name {
		display: flex;
		flex-direction: column;
	}

	.social {
		margin-left: 0px;
	}

	main {
		display: grid;
		gap: 1.6rem;
		grid-template-areas:
		  "hero  hero  hero  hero"
		  "news  news   news  news"
		  "spotlights  spotlights  spotlights spotlights"
		  "join    join    join     join"
		  "event event   event   weather";
	}

	.hero {
		grid-area: hero;
	  }
	
	  .event {
		grid-area: event;
	  }
	
	  .weather {
		grid-area: weather;
	  }
	
	  .news {
		grid-area: news;
	  }
	
	  .spotlights {
		grid-area: spotlights;
		display: flex;
		gap: 1.6rem;
	  }
	
	  .join {
		display: block;
		grid-area: join;
	  }

}