body {
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
    background:  #f4f3f3;
}


/* -------------HEADER AND MAIN---------------*/
header,
footer {
	background-color: #999999;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	border: 1px solid #f4f3f3;
	color: white;
    max-width: 92%;
}

header,
main,
footer {
	margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 1;
}

.logo-title {
    display: flex;
    min-height: 0 !important;
    flex-grow: 1;
    align-items: center;
    margin-top: 180px;
    margin-left: -330px;
}

.chamber-name {
    text-align: center;
    margin-left: -10px;
    margin-top: -70px;
    line-height: 13px;
}

.social {
    text-align: center;
    display: block;
    margin-right: 15px;
    margin-top: 0px;
}

.social img {
    width: 30px;
    border-radius: 80px;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 14px;
    margin-top: 25px;
    max-width: 88%;
}


/* ---------------HEADINGS---------------- */
h1 {
	font-size: 17px;
    color: white;
	font-family: Cambria, 'Times New Roman', serif;
}
h2 {
	color: rgb(73, 73, 73);
    font-size: 15px;
	font-family: Cambria, 'Times New Roman', serif;
}

h3 {
    display: block;
    font-size: 13px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(73, 73, 73);
}

h3.description {
    border-bottom-style: solid ;
}


/* --------------BANNER MESSAGE-------------- */
div#message {
    background-color: white;
    color: black;
    width: 110%;
    text-align: center;
    line-height: 18px;
    margin-top: -150px;
}

div.show {
    display: block;
}

div.hide {
    display: none;
}


/* -------------NAVIGATION-------------- */
nav {
	margin: 0 auto;
	max-width: max-content;
}

nav ul {
	list-style-type: none;
    margin-left: -900px;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 13px;
    margin-top: 150px;
}

nav button {
    background-color: #b6b6b6;
    margin: auto; 
}

nav ul.hide {
    display: none;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button span {
    display: block;
}


/* -------SECTIONS - HOME PAGE------- */
.hero, .event, .weather, .news, .join {
    border: 1px solid #999999;
    margin-bottom: 1.6rem;
    position: relative;
    text-align: center;
    line-height: 28px;
}

.event, .weather, .news, .join, .spotlights {
    padding: 5px;
    text-align: center;
}

.hero p, .event p, .weather p, .news p, .join p {
    font-size: 18px;
}

.degree p.temperature {
    font-size: 21px;
}

/* -------Here starts the .hero box------- */
.hero h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    font-size: 29px;
    color: white;
}

.hero img {
    width: 100%;
    height: 100%;
}

.joinus {
    background-color: rgb(92, 89, 89);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 5%;
    opacity: 0.95;
}

.spotlights section:last-child {
    display: none;
}

.spotlights section {
    border: 1px solid #999999;
    line-height: 52.1px;
    padding: 4px;

}


/* -------------FOOTER-------------- */
.date {
    font-size: 10px;
    background-color: black;
    color: white;
}

footer p {
	padding: .5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
    margin-bottom: -80px;
}

p#time {
    font-size: 6px;
    margin-left: -205px;
}

span#lastMod {
    margin-left: -20px; 
    font-size: 6px;
    margin-top: -10px;
}

.logo-box img, .logo-footer img {
    border: 1px solid #ddd;
    border-radius: 80px;
    padding: 5px;
    width: 90px;
    height: auto;
	box-shadow: 0 0 30px rgb(92, 89, 89);
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin-top: -115px;
}

.logo-footer {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.logo-footer img {
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.canton {
    margin-left: 40px;
    font-size: 13px;
}

.chamber {
    margin-top: 40px;
    margin-left: -70px;
    font-size: 10px;
}

.info {
    margin-left: 110px;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    font-size: 8px;
}
/* --------------------------------- */  


.show-list {
    display: block;
}

/* Clearfix: force an element not to collapse */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/***************************** DISCOVER PAGE ********************/

/* ----------------MAIN--------------- */
.discover {
    display: block;
}

/* ----------SECTIONS/ IMAGES--------- */
.row1, .row2, .row3, .row4, .row5 {
    align-items: center;
    margin-left: 50px;
}

picture img {
    display: block;
    width: 200px; 
}

picture img.map {
    display: block;
    margin-top: -600px;
    margin-left: 700px;
    margin-bottom: 340px;
    border-radius: 50px;
    width: 150px;
    border: 2px solid rgb(73, 73, 73);
}

.column {
    margin: auto;
}

section.location, section.origin {
align-items: center;
display: block;
width: 150px;
background-color: #999999;
padding: 10px;
margin-top: 25px;
margin-left: 50px;
border: 2px solid rgb(73, 73, 73);
border-radius: 10px;
}

section.location p, section.origin p {
    color: white;
}


/******************************* JOIN PAGE *************************/

/* -------------HEADINGS-------- */
.formheader h2 {
    border-style: none;
    border-radius: 6px;
    /*background-image: linear-gradient(to right, rgb(197, 145, 145), white, #d3caca);*/
    align-items: center;
}


/* -------------MAIN------------ */

fieldset.container {
    border: dotted;
    display: grid;
    padding: 2rem;
    background-color: #d8d4d4;
    border-style: dotted;
    border-radius: 10px;
}

fieldset.container2 {
    display: block;
    border: 1.5px solid #000000;
    border-radius: 10px;
    padding: 1rem 2rem;
    align-items: center;
}

div.container3 {
    border: 1.5px solid #000000;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-top: 60px;
}

form label.formfield {
    margin: 3px;
}

label.formfield input {
    padding: .75rem;
    margin-bottom: 20px;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    color: rgb(58, 58, 58);
    width: 100%;
    max-width: 20rem;
}

/* label.formfield input:required {
    border-left: red ;
}

label.formfield input:required:valid {
    border-left: green solid 6px;
}*/

label.formfield textarea {
    margin-bottom: 20px;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    color: rgb(58, 58, 58);
    padding: .75rem;
}

fieldset legend.radiotitle {
    padding: .5rem;
    margin-bottom: 10px;
    margin-top: 15px;
}

form input.radioBtn {
    margin-bottom: .75rem;
    color: rgb(58, 58, 58);
}

div.submitBtn input {
    margin-top: 30px;
    background-color: rgb(120, 116, 116);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1.5rem 0 0 2%;
    width: 96%;
    max-width: 20rem;
}

.divider {
    margin: auto;
    height: 2px;
    width: 100%;
    display: block;
    background-image: linear-gradient(to right, rgb(120, 116, 116), white, rgb(120, 116, 116));
}

.req {
    color: red; 
  }
