body {
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
    background:  #f4f3f3;
}

header,
footer {
	background-color: #b6b6b6;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding: .75rem;
	border: 1px solid #f4f3f3;
	color: white;
}

header,
main,
footer {
	max-width: 90%;
	margin: 0 auto;
}

h1 {
	font-size: 17px;
    color: white;
	font-family: Cambria, 'Times New Roman', serif;
}
h2 {
	color: rgb(92, 89, 89);
    font-size: 15px;
	font-family: Cambria, 'Times New Roman', serif;
}

nav button {
    margin: .2rem 0.5vw;
    background: transparent;
    color: white;
    border: none;
    font-size: 2rem;
}

nav {
	margin: 0 auto;
	max-width: max-content;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 13px;
	cursor: pointer;
}

.date {
    font-size: 15px;
    background-color: rgb(92, 89, 89);
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 14px;
    margin-top: 25px;
    margin-bottom: 30px;
}

footer p {
	padding: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-box img, .logo-footer img {
    border: 1px solid #ddd;
    border-radius: 80px;
    padding: 5px;
    width: 170px;
    height: auto;
	box-shadow: 0 0 30px rgb(92, 89, 89);
    align-items: center;
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
}

.chamber-name {
    text-align: center;
}

.hero, .event, .weather, .news, .join {
    border: 1px solid #b6b6b6;
    margin-bottom: 1.6rem;
    padding: 1.6rem;
}

.spotlights section:last-child {
    display: none;
}

.spotlights section {
    border: 1px solid #b6b6b6;
}

.logo-title {
    min-height: 0 !important;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo-footer {
    align-items: center;
    text-align: center;
    display: block;
}

button {
    cursor: pointer;
}

  button span {
    display: block;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1f;
}
