@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 40px;
        order: 2;
        text-align: right;
    }

    h2 {
        font-size: 32px;
        text-align: center;
    }
    header {
        flex-direction: row;
        border: 2px solid;
        border-radius: 15px;
        align-items: center;
    }
    footer{
        border: 2px solid;
        border-radius: 15px;
        text-align: center;
    }
    .phrase {
        font-size: 20px;
        text-align: center;
        line-height: 50px;
    }
    .photo img {
        display: block;
        padding: 5px;
        order: 1;
        border-radius: 200px;
        box-shadow: 2px 2px 5px white;
    }
}